[Unit]
Description=the service for running launcher background
After=network.target iptables.service ip6tables.service
Wants=network.target

[Service]
ExecStart=%h/.local/opt/remotelauncher/entry.py
Restart=on-failure

[Install]
WantedBy=default.target
