<!DOCTYPE html>
<html lang="{{ get_locale() }}">

<head>
    <title>{{ _(appname) }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FFFFFF" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/BootstrapMenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page-index.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/BootstrapMenu.min.js') }}"></script>
    <script src="{{ url_for('static_jinja2ed', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/page-index.js') }}"></script>
    <link rel="manifest" href="app.webmanifest">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='pic/logo.png') }}">
</head>

<body id="mainpage">
    <div id="overlay">
        <div id="centerIcon">
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h2>{{ _("Applauncher") }}</h2>
            <p class="instructions">{{ _("Config and run programs from the web!") }}</p>
            <select id="lang-selector" title="langSelector">
                {% for code, name in languages.items() %}
                    {% if code == get_locale() %}
                        <option value="{{ code }}" selected>{{ name }}</option>
                    {% else %}
                        <option value="{{ code }}">{{ name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
            <div class="col-md-4">
                <h3>{{ _("Options") }}:</h3><br>
                <button type="button" class="btn btn-block" data-toggle="collapse" data-target="#program-table"
                    onclick="delZoominclass()" aria-controls="program-table">
                    {{ _("Show List") }}
                </button><br>
                <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#add-program"
                    aria-expanded="false" aria-controls="add-program">
                    {{ _("Add Program") }}
                </button>
                <div class="collapse" id="add-program"><br \>
                    <form method="POST" action="{{ url_for('apps_add', program_realid='0') }}">
                        <input type="hidden" id="program_id" name="program_id" value="0" autocomplete="off">
                        <div class="form-group">
                            <label for="program_name">{{ _("Name") }}:</label>
                            <input type="text" class="form-control" id="program_name" name="program_name"
                                autocomplete="new-password" required>
                        </div>
                        <div class="form-group">
                            <label for="program_workdir">{{ _("Working directory") }}:</label>
                            <input type="text" class="form-control" id="program_workdir" name="program_workdir"
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="program_prefix">{{ _("Prefix ( gamescope, mangohud, etc...)") }}:</label>
                            <input type="text" class="form-control" id="program_prefix" name="program_prefix"
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="program_command">{{ _("Command") }}:</label>
                            <input type="text" class="form-control" id="program_command" name="program_command"
                                autocomplete="off" required>
                        </div>
                        <button type="submit" class="btn btn-sm btn-default">{{ _("Save") }}</button>
                    </form>
                </div><br \>
                <button class="btn btn-block" style="z-index:2; position: relative;" type="button" data-toggle="collapse" data-target="#edit-config"
                    aria-expanded="false" aria-controls="edit-config">
                    {{ _("Settings") }}
                </button>
                <div class="collapse" id="edit-config"><br \>
                    <form method="POST" action="{{ url_for('data_dbconf') }}">
                        {% for config in configs %}
                        <div class="form-group">
                            <label for="{{ config.name }}">{{ configlocalizedname(config) }}:</label>
                            {% if config.name == 'config_achipath'%}
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" title="datailName-dropdown">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a href="#">{{ _("Generate schemas") }}</a></li>
                                    </ul>
                                </div>
                                <input type="text" class="form-control" id="{{ config.name }}" name="{{ config.name }}"
                                    value="{{ config.value }}" spellcheck="false" autocomplete="off">
                            </div>
                            {% else %}
                            <input
                                type="text"
                                class="{% if config.name.endswith('path') %}input-pathSelect {% endif %}form-control"
                                id="{{ config.name }}"
                                name="{{ config.name }}"
                                value="{{ config.value }}"
                                spellcheck="false"
                                autocomplete="off">
                            {% endif %}
                            {% if config.name.endswith('path') %}
                            <a for="{{ config.name }}" class="btn btn-zIndex3 btn-pathSelect btn-default btn-xs pull-right" role="button">{{ _("Select") }}</a>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button id="settings-save-button" type="submit" class="btn btn-sm btn-default">{{ _("Save") }}</button>
                    </form>
                </div><br \>
            </div>
            <div class="col-md-8 collapse" id="program-table">
                <h3>{{ _("Lists") }}:</h3>
                <div class="center-block">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
                                        <span class="collapseTitleText">{{ _("Favorites") }}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse"
                                role="tabpanel" aria-labelledby="headingOne">
                            </div>
                        </div>
                        <div class="panel panel-default element-to-hide">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                        <span class="collapseTitleText">{{ _("Picture View") }}</span>
                                        <button id="fullPicviewIcon" onclick="fullPicview('enterPicview')" type="button"
                                            class="glyphicon glyphicon-new-window"
                                            title="{{ _('Click to expand picview') }}">
                                        </button>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse"
                                role="tabpanel" aria-labelledby="headingTwo">
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                        <span class="collapseTitleText">{{ _("Table View") }}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse"
                                role="tabpanel" aria-labelledby="headingThree">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>