<div class="panel-body tableview">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>{{ _("Icon") }}</th>
                <th class="idRow">#{{ _("ID") }}</th>
                <th class="nameRow">{{ _("Name") }}</th>
            </tr>
        </thead>
        <col width="1%" />
        <col width="1%" />
        <col width="100%" />
        <tbody>
            {% for program in programs %}
            <tr
                id="table-{{ program.id }}"
                class="tableViewRow"
            >
                <td>
                    <img
                        id="t-{{ program.id }}"
                        class="picon"
                        src="{{ url_for('data_get', filename='resources/' + str(program.id) + '/icon.ico') }}"
                        alt="icon-{{ program.name }}"
                    >
                </td>
                <td class="idRow">{{ program.id }}</td>
                <td class="nameRow" title="{{ program.name }}">{{ program.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>