/* for all page */
html {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
    scrollbar-width: thin;
    scrollbar-color: inherit;
    overflow-y: inherit;
}
::-webkit-scrollbar
{
    width:5px;
    height: 5px;
    background-color: inherit;
}
::-webkit-scrollbar-track
{
    background-color: inherit;
}
::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    background-color: #959595;
}

/* for main page */
#lang-selector {
    display: inline-flex;
    justify-content: flex-end;
    float: right;
}
.collapseTitleText {
    margin-left: 2px;
}
#fullPicviewIcon{
    border: 0px;
    padding:0px;
}
.panel-heading {
    padding: 0;
    border: 0;
}
.panel-title>a,
.panel-title>a:active {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -user-drag: none;
    display: block;
    padding: 10px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transform: translateY(0.2em);
    transition: all 0.2s;
}
.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
body {
    overflow-x: hidden;
}

/* for table view */
tbody,th {
    word-break: keep-all;
    white-space: nowrap;
}
td>img {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
    display: none;
}
td,th {
    text-align: center;
}
.table>tbody>tr>td {
    border-top: none;
}
.idRow {
    transform: translateX(-8px);
    text-align: start;
    font-size: small;
}
.picon {
    height: 1em;
    width: 1em;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -user-drag: none;
    transform: scale(150%) translate(-0.01em,-0.1em);
    transition: transform 0.06s ease;
}
.picon:hover {
    transform: scale(300%) translate(-0.01em,-0.1em);
    z-index: 9999;
}
.tableview {
    padding: 0;
    overflow-x: auto;
    max-width: 100%;
}
.table {
    margin-bottom: 0;
    font-size: inherit;
}
/* for picture view */
:root {
    --cover-padding: 0.9em;
    --cover-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
    --cover-hover-box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.5);
    --zoomin-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
    --bg-color: #686868;
    --bg-color-hover: #424242;
    --bg-box-shadow: 0 0 0 0 var(--bg-color-hover);
}
.custom-img {
    image-rendering: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    padding: 0;
    transition: filter 0.2s ease-in-out, transform .4s cubic-bezier(.075, .82, .165, 1) 0ms, box-shadow .4s cubic-bezier(.075, .82, .165, 1) 0ms, opacity .4s cubic-bezier(.075, .82, .165, 1) 0ms, border-color .4s cubic-bezier(.075, .82, .165, 1) 0ms;
    background-color: var(--theme-section-bg-gray);
    color: var(--theme-page-fg);
    border: 0px solid transparent;
    border-color: #585858;
    border-radius: 5px;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -user-drag: none;
    box-shadow: var(--cover-box-shadow);
}
.custom-img:hover {
    filter: brightness(105%);
    transform: translateY(-6px);
    z-index: 9999;
    /*opacity: 0.7;
    border: 1px solid transparent;
    margin-top: 1px;
    border-bottom-color: rgba(var(--theme-page-fg-rgb), .08);
    border-color: rgba(var(--theme-page-fg-rgb), .08) rgba(var(--theme-page-fg-rgb), .08) rgba(var(--theme-page-fg-rgb), .25);*/
    box-shadow: var(--cover-hover-box-shadow);
}
.custom-img:active {
    transform: translateY(3px);
    box-shadow: var(--bg-box-shadow)
}
.picview {
    background-color: var(--bg-color);
    transition: background-color 0.1s ease-in-out;
    padding: var(--cover-padding);
    border-radius: 0 0 4px 4px;
}
.picview:hover {
    background-color: var(--bg-color-hover);
}
.picview:hover img:not(:hover, .custom-contextmenu) {
    filter: brightness(80%);
}
.custom-contextmenu {
    transform: scale(1.8);
    z-index: 10000;
    /*box-shadow: var(--zoomin-box-shadow);*/
}
.custom-contextmenu:hover {
    transform: scale(2);
    z-index: 10000;
    /*box-shadow: var(--zoomin-box-shadow);*/
}
.tooltip .tooltip-arrow {
    display: none;
}
.cover {
    padding: var(--cover-padding);
    height: auto;
    float: left;
    object-fit: contain
}
@media (max-width: 991px) {
    .cover {
        width: 50%;
    }
}
@media (min-width: 661px) and (max-width: 991px) {
    .cover {
        width: 25%;
    }
}
@media (min-width: 991px) and (max-width: 1351px) {
    .fullpagecover {
        width: 20%;
    }
}
@media (min-width: 1351px) and (max-width: 1920px) {
    .fullpagecover {
        width: 10%;
    }
}
@media (min-width: 1920px) {
    .fullpagecover {
        width: 10%;
    }
}
