<!DOCTYPE html>
<html lang="{{ get_locale() }}">

<head>
    <title>Applauncher</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FFFFFF" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="manifest" href="app.webmanifest">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='pic/logo.png') }}">
    <style>
        /*td {
            word-break: keep-all;
            white-space: nowrap;
            text-align: center;
            border-right: 1px solid #dee2e6;
            border-left: 1px solid #dee2e6;
        }*/
        td,
        th {
            word-break: keep-all;
            white-space: nowrap;
            text-align: justify;
        }

        /* 奇数行颜色
        tr:nth-child(odd) {
            background-color: #ffffff;
        } */

        /* 偶数行颜色
        tr:nth-child(even) {
            background-color: #f2f2f2;
        } */

        .panel-heading {
            padding: 0;
            border: 0;
        }

        .panel-title>a,
        .panel-title>a:active {
            display: block;
            padding: 10px;
            color: #555;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
        }

        .panel-heading a:before {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            transform: translateY(0.2em);
            /*transition: all 0.2s;*/
        }

        .panel-heading.active a:before {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        /* 禁用横向滚动条 */
        body {
            overflow-x: hidden;
        }
    
        /* 删除横向滚动条 */
        ::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>

<body id="mainpage">
    <div class="container" style="user-select: none;">
        <div class="page-header">
            <h2>{{ _("Applauncher") }}</h2>
            <p class="instructions">{{ _("Config and run programs from the web!") }}</p>
            <select id="lang-selector" style="display: inline-flex; justify-content: flex-end; float: right;">
                {% for code, name in languages.items() %}
                    {% if code == get_locale() %}
                        <option value="{{ code }}" selected>{{ name }}</option>
                    {% else %}
                        <option value="{{ code }}">{{ name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
            <div class="col-md-4">
                <h3>{{ _("Options") }}:</h3><br>
                <button type="button" class="btn btn-block" data-toggle="collapse" data-target="#program-table"
                    onclick="delMenu()" aria-controls="program-table">
                    {{ _("Show List") }}
                </button><br>
                <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#add-program"
                    aria-expanded="false" aria-controls="add-program">
                    {{ _("Add Program") }}
                </button>
                <div class="collapse" id="add-program"><br \>
                    <form method="POST" action="{{ url_for('add_program', program_realid='0') }}">
                        <input type="hidden" id="program_id" name="program_id" value="0" autocomplete="off">
                        <div class="form-group">
                            <label for="program_name">{{ _("Name") }}:</label>
                            <input type="text" class="form-control" id="program_name" name="program_name"
                                autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="program_workdir">{{ _("Working directory") }}:</label>
                            <input type="text" class="form-control" id="program_workdir" name="program_workdir"
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="program_prefix">{{ _("Prefix ( gamescope, mangohud, etc...)") }}:</label>
                            <input type="text" class="form-control" id="program_prefix" name="program_prefix"
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="program_command">{{ _("Command") }}:</label>
                            <input type="text" class="form-control" id="program_command" name="program_command"
                                autocomplete="off" required>
                        </div>
                        <center><button type="submit" class="btn btn-default">{{ _("Save") }}</button></center>
                    </form>
                </div><br \>
                <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#edit-config"
                    aria-expanded="false" aria-controls="edit-config">
                    {{ _("Settings") }}
                </button>
                <div class="collapse" id="edit-config"><br \>
                    <form method="POST" action="{{ url_for('config') }}">
                        {% for config in configs %}
                        <div class="form-group">
                            <label for="{{ config.name }}">{{ configlocalizedname(config) }}:</label>
                            <input type="text" class="form-control" id="{{ config.name }}" name="{{ config.name }}"
                                value="{{ config.value }}" autocomplete="off">
                        </div>
                        {% endfor %}
                        <center><button type="submit" class="btn btn-default">{{ _("Save") }}</button></center>
                    </form>
                </div><br \>
            </div>
            <div class="col-md-8 collapse" id="program-table">
                <h3>{{ _("Lists") }}:</h3>
                <div class="center-block">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
                                        <span style="margin-left: 2px;">{{ _("Favorites") }}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panel-body">
                                    ...
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default element-to-hide">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                        <span style="margin-left: 2px;">{{ _("Picture View") }}</span>
                                        <button style="border: 0px; padding:0px;" onclick="fullPicview()" type="button"
                                            class="glyphicon glyphicon-new-window"
                                            title="{{ _('Click to expand picview') }}">
                                        </button>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo">
                                <script>
                                    $(document).ready(function () {
                                        $('#collapseTwo').load('picview');
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                        <span style="margin-left: 2px;">{{ _("Table View") }}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingThree">
                                <script>
                                    $(document).ready(function () {
                                        $('#collapseThree').load('tableview');
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>