<style>
    .picon {
        height: 1em;
        width: 1em;
        margin-right: 4px;
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
        -user-drag: none;
        transform: scale(150%) translateY(-0.1em);
        transition: transform 0.06s ease;
    }
    .picon:hover {
        transform: scale(300%) translateY(-0.1em);
        z-index: 9999;
    }
    .tableview {
        padding: 0;
    }
    .table {
        margin-bottom: 0;
        font-size: inherit;
    }
</style>
<div style="overflow-x: auto; max-width: 100%;" class="panel-body tableview">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>{{ _("ID") }}</th>
                <th>{{ _("Actions") }}</th>
                <th>{{ _("Name") }}</th>
            </tr>
        </thead>
        <col width="1%" />
        <col width="1%" />
        <col width="100%" />
        <tbody>
            {% for program in programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td style="user-select: none;">
                    <a href="{{ url_for('apps_launch', program_id=program.id) }}">
                        {{ _("Start") }}
                    </a>/<a href="{{ url_for('apps_del', program_id=program.id) }}">
                        {{ _("Delete") }}
                    </a>/<a href="{{ url_for('detail_page', program_id=program.id) }}"
                            onclick="openDetailWindow(event,400,600)">
                        {{ _("Detail") }}
                    </a>
                </td>
                <td
                    id="table-{{ program.id }}"
                    title="{{ program.name }}"
                    ondragover="event.preventDefault()"
                    ondrop="handleDrop(event)"
                >
                    <img
                        id="t-{{ program.id }}"
                        class="picon"
                        ondragover="event.preventDefault()"
                        src="{{ url_for('data_get', filename='resources/' + str(program.id) + '/icon.ico') }}"
                        onerror="this.onerror=null;this.style.display='none';"
                        alt="icon-{{ program.name }}"
                    >
                    {{ program.name }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>